header > a{
    font-size: 30px;
    color: green;
}

/* This block of code below that's 
commented out is what you asked for 
in the assignment page I believe, but
I made the schools different colors 
because the schools colors are different */

/* a[id*="schools"]{
    background: green;
    color: white;
} */

a[href*="uog"]{
    background-color: green;
    color: white;
}

a[href*="karasuno"]{
    background-color: black;
    color: orange;
}

