header > a{
    font-size: 30px;
    color: green;
}

/* This block of code below is what you asked for in the 
assignment page but I made the schools different colors 
because the schools colors are different */

/* a[id*="schools"]{
    background: green;
    color: white;
} */

a[href*="uog"]{
    background-color: green;
    color: white;
}
a[href*="karasuno"]{
    background-color: black;
    color: orange;
}

