/* "*" selects or affects everything */
/* 
*   {
    color:red;
    background-color: black;
} 
*/


/* element selectors */
/* this code below affects everything in the body */
body{
    color: red;
    background-color: black;
}

/* this code only affects things with the "button" element */
button{
    font-size: 30px;
}

/* this code only affects things in the h1 and h2 tags */
h1, h2{
    color: red;
}

/* id selector */
/* # lets you choose specific id's */
#signup{
    background-color:purple;
    color: red;
}

/* class selector */
/* . lets you choose specific classes */
/* had to make a class using span tag in the html file first tho */
.band{
    color:blueviolet;
}

/* descendant selector??? */
/* i guess post makes it the parent then everything below is the child? ex. h2, button, span tags */
/* this code means every anchor tag under post */
.post a{
    color: blueviolet;
}

/* descendant selectors or combinator? */
/* this is all the anchor tags in the footer */
/* p > a is all the anchor tags in the paragragh for example */
footer > a{
    color: blueviolet;
}

/* attribute selectors */
/* type is the attribute */
input[type="password"]{
    color: blueviolet;
}

input[type="text"]{
    color: red;
}

/* looking for all anchor tags with href keyword */
/* [*=] says look for these specific characters */
a[href*="google"]{
    color: darkorange;
}

/* pseudo classes */
/* gives it like a special action?? */
/* like hover takes effect when you hover over something */
button:hover{
    background-color: black;
    color: blueviolet;
}

/* nested pseudo-classes */
.post button:active{
    background-color: red;
}

/* pseudo-elements */
/* specific parts??? */
h2::first-letter{
    font-size: 50px;
}
/* xxxxxxxxx */
p::first-line{
    color: blue;
}
