h1{
    /* color changes the color of text */
    color:green;
}

h2{
    color:purple;
}

p{
    color:pink;
    /* background color changes the color of the background */
    background-color: green;
}

button{
    color:white;
    background-color: blue;
}